<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astutify.mvi.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.astutify.mvi.demo.presentation.screen.ingredients.IngredientsView"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.astutify.mvi.demo.presentation.screen.editingredient.EditIngredientView"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
